@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Raleway:wght@400;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
.header {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}

span {
  font-family: Raleway;
  font-weight: 600;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #656980;
  line-height: 74px;
}
span::after {
  content: "BOX";
  color: #656980;
  font-family: Raleway;
  font-weight: 100;
  font-size: 1.875rem;
  display: inline;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 74px;
}
@media (max-width: 768px) {
  ul {
    display: none;
  }
}
ul li {
  border-bottom: 4px solid transparent;
}
ul li:hover {
  border-bottom: 4px solid #ffffff;
}
ul li a {
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #ffffff;
  margin-left: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-burger {
  display: none;
  width: 60px;
  height: 30px;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  position: relative;
  cursor: pointer;
}
.header-burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 47%;
}
@media (max-width: 768px) {
  .header-burger {
    display: block;
  }
}

.main {
  background-image: url("/img/img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 0px;
}
.main::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(37, 43, 73, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#main-container {
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  padding: 0px;
}

h1 {
  font-family: Raleway;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.main-subtitle {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.main-button {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 80px;
  background: #ff4343;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  display: block;
}
.main-button:active {
  background: rgba(255, 67, 67, 0.8);
}
@media (max-width: 576px) {
  .main-button {
    width: 80%;
  }
}

.properties-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.properties-card {
  width: 30%;
  margin: 0px 10px 105px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.properties-card .properties-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 767px) {
  .properties-card {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 576px) {
  .properties-card {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .properties-card {
    width: 90%;
  }
}

.header-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.properties-card:nth-child(4) {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .properties-card:nth-child(4) {
    margin-bottom: 105px;
  }
}

.properties-card:nth-child(5) {
  margin-bottom: 0px;
}
@media (max-width: 400px) {
  .properties-card:nth-child(5) {
    margin-bottom: 105px;
  }
}

.properties-card:nth-child(6) {
  margin-bottom: 0px;
}

.fa-star,
.fa-pen-to-square,
.fa-circle-check,
.fa-stack-overflow,
.fa-teamspeak,
.fa-medapps {
  font-family: font Awesome 6 Free;
  font-size: 4rem;
  color: rgba(255, 67, 67, 0.8);
  text-align: center;
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
}
.fa-star:hover,
.fa-pen-to-square:hover,
.fa-circle-check:hover,
.fa-stack-overflow:hover,
.fa-teamspeak:hover,
.fa-medapps:hover {
  color: #b90c0c;
}

h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
  color: #2d3033;
}

.container_photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container_photo > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container_photo > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.container_photo > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container_photo > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.container_photo > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.container_photo > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.container_photo > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.container_photo > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
@media (max-width: 767px) {
  .container_photo {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .container_photo > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .container_photo > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .container_photo > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .container_photo > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media (max-width: 576px) {
  .container_photo {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .container_photo > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .container_photo > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .container_photo > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .container_photo > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
}
@media (max-width: 400px) {
  .container_photo {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }
  .container_photo > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .container_photo > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
}

.grid-item {
  padding: 0px 0px 58% 0px;
  overflow: hidden;
  border: 1px solid #ffffff;
  position: relative;
  z-index: 3;
}
.grid-item:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(231, 20, 20, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.grid-item:active::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .grid-item-7 {
    display: none;
  }
}
@media (max-width: 576px) {
  .grid-item-7 {
    display: block;
  }
}

@media (max-width: 767px) {
  .grid-item-8 {
    display: none;
  }
}
@media (max-width: 576px) {
  .grid-item-8 {
    display: block;
  }
}

.content_photo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.content_photo_title {
  font-family: Raleway;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

.content_photo_text {
  font-family: Raleway;
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  text-align: center;
  display: none;
}

.content_photo:hover .content_photo_title {
  display: block;
}

.content_photo:hover .content_photo_text {
  display: block;
}

section.designers {
  padding-top: 120px;
  padding-bottom: 60px;
}

.designers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .designers-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.designers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 15px 60px 15px;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .designers-card {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .designers-card {
    width: 65%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .designers-card {
    width: 90%;
  }
}

.designers-photo {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.designers-photo img {
  width: 100%;
  height: 100%;
}

h2.designers-name {
  text-align: left;
  text-transform: none;
  margin-bottom: 5px;
}

.designers-occupation {
  font-family: Raleway;
  font-size: 1.125rem;
  color: rgba(255, 67, 67, 0.8);
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 17px;
}

.designers-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.designers-content p {
  text-align: left;
  margin-bottom: 37px;
}

.designers-row-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network-1,
.network-2,
.network-3 {
  width: 39px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c6cbcd;
  margin-right: 4px;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin {
  font-family: font Awesome 6 Free;
  color: #c6cbcd;
  font-size: 1.125rem;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

/* Ограничивающая оболочка */
.slick-list {
  jverflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  border: 0.5px solid #5c3249;
}

.slider .slick-dots li.slick-active button {
  background-color: #5c3249;
}

.quote {
  font-family: Cardo;
  font-size: 2.25rem;
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  max-width: 470px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .quote {
    font-size: 30px;
    max-width: 370px;
  }
}
@media (max-width: 767px) {
  .quote {
    font-size: 22px;
    max-width: 260px;
  }
}
@media (max-width: 576px) {
  .quote {
    font-size: 20px;
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .quote {
    font-size: 18px;
    max-width: 200px;
  }
}

.author {
  font-family: Raleway;
  font-size: 0.8125rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 470px;
  text-align: left;
}
@media (max-width: 992px) {
  .author {
    font-size: 12px;
    max-width: 370px;
  }
}
@media (max-width: 767px) {
  .author {
    font-size: 11px;
    max-width: 260px;
  }
}
@media (max-width: 576px) {
  .author {
    font-size: 10px;
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .author {
    font-size: 9px;
    max-width: 200px;
  }
}

.slider {
  min-width: 0;
}

.slider-item {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
}
@media (max-width: 576px) {
  .slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider_item_left,
.slider_item_right {
  min-width: 0;
}

.slider_item_left {
  width: 50%;
}
@media (max-width: 576px) {
  .slider_item_left {
    width: 100%;
  }
}

.slider_item_left img {
  width: 100%;
  height: 100%;
}

.slider_item_right {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5c3249;
}
@media (max-width: 576px) {
  .slider_item_right {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 400px) {
  .slider_item_right {
    font-size: 18px;
    max-width: 200px;
    height: 250px;
  }
}

.download-title {
  text-align: center;
  font-family: Raleway;
  font-size: 1.875rem;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}

.download-subtitle {
  text-align: center;
  font-family: Raleway;
  font-size: 1.125rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
}

.download-button {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 80px;
  background: #ff4343;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  display: block;
}
.download-button:active {
  background: rgba(255, 67, 67, 0.8);
}
@media (max-width: 576px) {
  .download-button {
    width: 80%;
  }
}

.download-button:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  10% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  30% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  70% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  90% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  10% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  30% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  70% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
  90% {
    -webkit-transform: scaleX(0.85) scaleY(0.85);
            transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}
.footer_up {
  background: #353c65;
  padding: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 576px) {
  .footer_up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
    padding: 34px 0px;
  }
}

.footer_up_card {
  margin: 15px;
  width: 30%;
}
@media (max-width: 576px) {
  .footer_up_card {
    width: 90%;
  }
}

.footer_up h2 {
  color: #ffffff;
  font-weight: 600;
}

.footer_up p {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.125rem;
  color: #ffffff;
}

.footer_up_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 576px) {
  .footer_up_network {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.network-1,
.network-2,
.network-3 {
  margin: 15px 15px 0px;
}

.footer_down {
  background-color: #2c3154;
  padding: 24px 0px;
}

.footer_down p {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.125rem;
  color: #808080;
}

html {
  font-family: "Raleway", "Cardo", sans-serif;
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-decoration: none;
}

section {
  padding: 120px 0;
  top: 0px;
  left: 0px;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  z-index: 5;
  position: relative;
}
@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 570px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

p {
  font-family: Raleway;
  text-align: center;
  color: #6c7279;
}