@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Raleway:wght@400;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
.header {
  padding: 0px;
  border-bottom: 2px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}

span {
  font-family: Raleway;
  font-weight: 600;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #656980;
  line-height: 74px;
}
span::after {
  content: "BOX";
  color: #656980;
  font-family: Raleway;
  font-weight: 100;
  font-size: 1.875rem;
  display: inline;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  ul {
    display: none;
  }
}
ul li {
  border-bottom: 4px solid #ffffff;
  line-height: 74px;
}
ul li a {
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #ffffff;
  margin-left: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-burger {
  display: none;
  width: 60px;
  height: 30px;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  position: relative;
  cursor: pointer;
}
.header-burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 47%;
}
@media (max-width: 768px) {
  .header-burger {
    display: block;
  }
}

.main {
  background-image: url("/img/img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 200px 0px 120px;
}
.main::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(37, 43, 73, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

h1 {
  font-family: Raleway;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.main-subtitle {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.main-button {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 80px;
  background: #ff4343;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  display: block;
}
@media (max-width: 576px) {
  .main-button {
    width: 100%;
  }
}

.properties-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.properties-card {
  width: 30%;
  margin: 0px 10px 105px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.properties-card .properties-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 767px) {
  .properties-card {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 576px) {
  .properties-card {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .properties-card {
    width: 90%;
  }
}

.header-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.properties-card:nth-child(4) {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .properties-card:nth-child(4) {
    margin-bottom: 105px;
  }
}

.properties-card:nth-child(5) {
  margin-bottom: 0px;
}
@media (max-width: 400px) {
  .properties-card:nth-child(5) {
    margin-bottom: 105px;
  }
}

.properties-card:nth-child(6) {
  margin-bottom: 0px;
}

.fa-star,
.fa-pen-to-square,
.fa-circle-check,
.fa-stack-overflow,
.fa-teamspeak,
.fa-medapps {
  font-family: font Awesome 6 Free;
  font-size: 4rem;
  color: #ff4343;
  text-align: center;
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
}
.fa-star:hover,
.fa-pen-to-square:hover,
.fa-circle-check:hover,
.fa-stack-overflow:hover,
.fa-teamspeak:hover,
.fa-medapps:hover {
  color: #b90c0c;
}

h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
  color: #2d3033;
}

section.designers {
  padding-top: 120px;
  padding-bottom: 60px;
}

.designers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .designers-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.designers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 15px 60px 15px;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .designers-card {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .designers-card {
    width: 65%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .designers-card {
    width: 90%;
  }
}

.designers-photo {
  padding: 0px, 0px, 58%, 0px;
  margin-bottom: 30px;
  overflow: hidden;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h2.designers-name {
  text-align: left;
  text-transform: none;
  margin-bottom: 5px;
}

.designers-occupation {
  font-family: Raleway;
  font-size: 1.125rem;
  color: #ff4343;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 17px;
}

.designers-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.designers-content p {
  text-align: left;
  margin-bottom: 37px;
}

.designers-row-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network-1,
.network-2,
.network-3 {
  width: 39px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c6cbcd;
  margin-right: 4px;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin {
  font-family: font Awesome 6 Free;
  color: #c6cbcd;
  font-size: 1.125rem;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

html {
  font-family: "Raleway", "Cardo", sans-serif;
  font-size: 16px;
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-decoration: none;
}

section {
  padding: 120px 0;
  top: 0px;
  left: 0px;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  z-index: 5;
  position: relative;
}
@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 570px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

p {
  font-family: Raleway;
  text-align: center;
  color: #6c7279;
}