section.designers {
  padding-top: 120px;
  padding-bottom: 60px;
}

.designers-row {
  display: flex;
  align-items: stretch; //задаем для того чтобы наполенние в карточке могло быть разным, а сами они оставались размером за наибольшей, чтобы контент в ряду всегда был на одной линии//
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.designers-card {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  width: 20%;
  flex-direction: column; //задаем колонку для того чтобы блок с текстом мог разъехаться с фактором жадности по оси y, если ряд то блок едет по оси х
  @media (max-width: 767px) {
    width: 40%;
  }
  @media (max-width: 576px) {
    width: 65%;
    justify-content: center;
  }
  @media (max-width: 400px) {
    width: 90%;
  }
}

.designers-card:nth-child(1) {
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}
.designers-card:nth-child(2) {
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.designers-card:nth-child(3) {
  @media (max-width: 576px) {
    margin-bottom: 40px;
  }
}
.designers-photo {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.designers-photo img {
  width: 100%;
  height: 100%;
  //тут просто даем задание дизайнеру сделать фото одного размера
}

h3.designers-name {
  text-align: left;
  text-transform: none;
  margin-bottom: 5px;
}
// все остальные свойства прописаны в секции выше, properties
.designers-info {
  margin-bottom: 17px;
}
span.designers-occupation {
  font-family: Raleway;
  font-size: $_18px;
  color: $red_active;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}
.designers-content {
  flex-grow: 1; //вот тут та волшебная фигня, фактор жадности из-за него будет растягиваться карточка, т.е. по высоте карточка будет одинаковая с той, в которой больше информации.
}
.designers-content p {
  text-align: left;
  margin-bottom: 37px;
}

.designers-row-network {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.network-content {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-network;
  margin-right: 4px;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin {
  font-family: font Awesome 6 Free;
  color: $border-network;
  font-size: $_18px;
  transition: 0.6s;
}
.fa-facebook-f:hover {
  color: $facebook;
}
.fa-twitter:hover {
  color: $twitter;
}

.fa-linkedin:hover {
  color: $linkedin;
}
