.download-title {
  text-align: center;
  font-family: Raleway;
  font-size: $_30px;
  color: $black;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}
.download-subtitle {
  text-align: center;
  font-family: Raleway;
  font-size: $_18px;
  color: $black;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
}

.download-button {
  font-family: Raleway;
  font-size: $_24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 80px;
  background: $red_normal;
  cursor: pointer;
  color: $white;
  margin: auto;
  display: block;

  &:active {
    background: $red_active;
  }
  @media (max-width: 576px) {
    width: 80%;
  }
}

.download-button:hover {
  animation-name: pulse;
  animation-duration: 3000ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
