.first_skreen {
  background-image: url("/img/Rectangle\ 23.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding: 0px;
  border: 1px solid red;
}
#first_skreen {
  transform: translate(0%, 50%);
}
h1 {
  font-family: Raleway;
  font-size: $_64px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
