footer {
  background-color: $footer_dark;
  padding: 20px 0px;
}
.footer-content p {
  font-family: Raleway;
  font-weight: 400;
  font-size: $_18px;
  color: $footer_text;
}

span.container-span {
  font-family: Raleway;
  font-weight: 400;
  font-size: $_18px;
  color: $white;
  text-transform: none;

  &::after {
    content: "BOX";
    color: $purple_logo;
    font-family: Raleway;
    font-weight: 100;
    font-size: $_30px;
    display: none;
  }
}
