@import "./mixins/card.scss";
@import "./variables.scss";
@import "./cdn.scss";
@import "./header.scss";
@import "./main.scss";
@import "./properties.scss";
@import "./photo.scss";
@import "./designers.scss";
@import "./slider.scss";
@import "./download.scss";

html {
  font-family: "Raleway", "Cardo", sans-serif;
  font-size: 16px;
  @media (max-width: 992px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
  @media (max-width: 576px) {
    font-size: 10px;
  }
  @media (max-width: 320px) {
    font-size: 9px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: content-box;
  text-decoration: none;
}

section {
  padding: 120px 0;
  top: 0px;
  left: 0px;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  z-index: 5;
  position: relative;

  @media (max-width: 992px) {
    width: 760px;
  }
  @media (max-width: 767px) {
    width: 570px;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

p {
  font-family: Raleway;
  text-align: center;
  color: $light_black;
}
//тут прописала р для всех во всем документе
