.project-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-card {
  overflow: hidden;
  padding: 0px, 0px, 58%, 0px;
  border: 1px solid red;
  //   position: relative;
}

img {
  width: 100%;
  //   height: 100%;
  object-fit: cover;
  object-position: center;
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
}
