//основные цвета для макета, для теней назначается цвет gray_shadow например с альфа-каналом с прозрачностью

$purple_mask: #252b49;
$purple_light: #353c65;
$purple_dark: #2c3154;
$purple_logo: #656980;
$red_normal: #ff4343;
$red_hover: #e71414;
$red_active: #ff4343;
$red_dark_active: #b90c0c;
$white: #ffffff;
$black: #000;
$dark_black: #2d3033;
$light_black: #6c7279;

//размеры шрифтов для макета
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
