//основные цвета для макета, для теней назначается цвет gray_shadow например с альфа-каналом с прозрачностью

$purple_mask: rgba(37, 43, 73, 0.8);
$purple_light: #353c65;
$purple_dark: #2c3154;
$purple_logo: #656980;
$red_normal: #ff4343;
$red_hover: rgb(231, 20, 20, 0.8);
$red_active: rgb(255, 67, 67, 0.8);
$red_dark_active: #b90c0c;
$white: #ffffff;
$black: #000;
$dark_black: #2d3033;
$light_black: #6c7279;
$border-network: #c6cbcd;
$facebook: #3b5998;
$twitter: #00acee;
$linkedin: #0e76a8;

//размеры шрифтов для макета
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
